*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body{
background-color: #212128;
font-family: 'Satoshi', sans-serif;
}

.preloader {
    background:  #212128 no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;

}

.preloader h1 {
    position: fixed;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 3.3rem;
    color: #E5E5E5;
    font-family: 'DM Sans', sans-serif;
    font-size: 700;
    font-size: 2rem;
    color: transparent;
    -webkit-text-stroke: 2px #F4511E;
    background: url(image/orange-stripes-background.jpg);
    background-position: 0 0;
    animation: back 20s linear infinite;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}
header{
    height: 100vh;
    width: 100%;
}
nav{
    padding:1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h1 a{
color: #FCFAF7;
font-size: 1.7rem;
text-decoration: none;
}
.links{
    display: flex;
    gap: 3rem;
}
.links a{
   text-decoration: none; 
   color: white;
   font-size: 1.1rem;
}
.links a:hover{
    color: #EB691F;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
}
.hero h3, #text{
    color: #EB691F;
    font-size: 2rem;
}
.hero img{
    width: 100%;
    height: 100%;
}
.hero h2{
    color: #FCFAF7;
    font-size: 2rem;
    padding: 0.5rem 0;
}
.hero-txt h2 span i{
    color: #EB691F;
}
.hero p{
    color: #FCFAF7;
    line-height: 1.8;
    padding-top: 0.7rem;
    font-family: 'Satoshi', sans-serif;
}

.socials p span {
padding-top: 0.7rem;
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1rem;
}
.socials i{
    color: #EB691F;
    font-size: 1.5rem;
    cursor: pointer;
}
.socials i:hover{
    color: #FCFAF7;
}
/* project styling */
.project-hero h1{
    text-align: center;
    padding: 2rem 0;
    color: #FCFAF7;
    font-size: 2.5rem;
    color: #EB691F;
}
.project-hero{
    display: grid;
    margin: auto;
    padding: 3rem;
}
.project-flex{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 1rem;
}
.project-box{
    width: 300px;
    background-color: #FCFAF7;
    border-radius: 5px 5px ;
}
.project-box img{
    width: 100%;
    border-radius: 5px  5px 0 0;
}
.project-txt{
    padding: 1rem 0.4rem 2rem 0.4rem;
}
.project-txt p{
    padding-bottom: 0.4rem;
    font-weight: 600;
}
.project-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}
.project-links a{
    text-decoration: none;
    color: #212128;
    border: 1px solid #212128;
    padding: 0.2rem 0.6rem;
    border-radius: 5px;
    font-weight: 500;
}

.project-links a:hover{
    border: 1px solid #EB691F;
    padding: 0.2rem 0.6rem;
}
.back {
    margin:1rem auto;
    padding: 0.3rem;
    width: 10%;
border: 1px solid #FCFAF7;
background-color: #EB691F;
border-radius: 5px;

}
.back:hover{
    background: transparent;
    border: 1px solid #EB691F;
    
}
.back a{
    color: #FCFAF7;
    text-decoration: none;
    
}
/* resume styling */
.resume-hero{
    display: grid;
    margin:15rem auto;
    text-align: center;
}
.resume-hero h1{
    padding: 2rem 0;
    color: #EB691F;
    font-size: 2.5rem;
}
.resume-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.resume-links a{
    width: 20%;
    background: transparent;
    border: 1px solid #FCFAF7;
    padding: 0.6rem 0;
    font-size: 1.2rem;
        text-decoration: 0;
        color: #FCFAF7;
    }
.resume-links a:hover{
    border: 1px solid #EB691F;
    color: #EB691F;
}

/* media queries */




@media screen and  (min-width:769px) and (max-width:1024px) {

 header{
 height: 100%;
}
.hero{
    padding: 3rem 2rem;
    flex-direction: column;
}
.hero-img{
width: 100%;
}
.hero-txt h2{
    font-size: 2rem;
}

.project-flex{
    grid-template-columns: repeat(2,1fr);
}
      
}
@media screen and (max-width:768px){
    body{
        text-align: center;
    }
.preloader h1{
    font-size: 1.6rem;
}
    header{
        height: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
  nav{
    padding: 1rem 0.4rem;
  }
.links{
    gap:0.7rem;
  }
  nav h1 a{
    font-size: 1.1rem;
  }
  .hero{
    flex-direction: column;
    padding: 2rem 0.4rem;
  }
 
  .office{
    font-style: italic;
    font-size: 1.5rem;
  }
  .hero img{
    display: none;
  } 
  #text{
    font-size: 1.4rem;
  }
    
  .socials p span {

            align-items: center;
            justify-content: center;
    }

   .project-hero{
    padding: 3rem 1rem;
  }

  .project-flex{
    grid-template-columns: repeat(1,1fr);
  }
  .project-box{
    width: 100%;
  }
  .back {
    width: 100%;
  }
.resume-links{
    flex-direction: column;
    padding: 0 1rem;
}
.resume-links a{
    width: 100%;
}
}
   
